import url('whitespace-reset.css');

* {
  box-sizing: border-box;
}

.bs-header {
  display: block;
  width: 100%;
  height: 137px;
  padding: 30px 15px;
  background: #634C8A;
  text-align: center;
}

.bs-header h1 {
  font-size: 36px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}

.bs-header a {
  text-decoration: none;
}

.bs-header p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #cdc0e2;
}
