<table width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Card Number</th>
      <th>Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    <% session[:payments].each do |payment| %>
      <tr>
        <td><%= payment[:name] %></td>
        <td><%= payment[:created] %></td>
        <td><%= payment[:card_number] %></td>
        <td><%= payment[:exp_date] %></td>
      </tr>
    <% end %>
  </tbody>
</table>